body {
    background-image: url('/assets/images/background-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.card {
    max-width: 350px;
    background: linear-gradient(135deg, hsl(196, 92%, 61%), #3ed7ac);
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.city-card {
    padding: 20px;
}

.search {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 20px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.icon-button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #555;
}

.temp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 60px;
    margin-bottom: 1px; /* Adjusted padding */
    margin-top: 2px;
}

.city {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 1px; /* Adjusted padding */
}

.weather-icon {
    width: 170px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.location-text {
    width: 50%;
    max-width: 400px;
    padding: 10px 15px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.weather {
    display: none;
}

.error p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

p.quote {
    font-family: "Just Another Hand", cursive;
    font-size: 30px;
    color:#fff;
    text-align: center;
    margin-top: 30px;
    
    }
    


